@font-face {
  src: url("./assets/fonts/YekanBakh-Regular/YekanBakh-Regular.ttf");
  font-family: "YekanBakh Regular";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "YekanBakh Regular" !important;
}

body {
  width: 100%;
  max-width: 1200px;
  min-width: 320px;
  min-height: 100vh;
  margin: 0 auto;
  
  background:
    radial-gradient(
      circle at 10% 20%,
      rgba(247, 118, 61, 0.35) 0px,
      rgba(247, 118, 61, 0.18) 35px,
      transparent 100px
    ),

    radial-gradient(
      circle at 100% 0%,
      rgba(255, 180, 120, 0.5) 10px,
      rgba(255, 180, 120, 0.25) 60px,
      transparent 150px
    ),

    radial-gradient(
      circle at 80% 70%,
      rgba(247, 118, 61, 0.25) 0px,
      rgba(247, 118, 61, 0.12) 40px,
      transparent 120px
    ),

    radial-gradient(
      circle at 15% 85%,
      rgba(255, 200, 160, 0.35) 0px,
      rgba(255, 200, 160, 0.15) 40px,
      transparent 120px
    ),

    #fffaf7;
}

a {
  color: #000;
  text-decoration: none;
}

.active {
  color: #f7763d;

  @media (width <= 650px) {
    color: #000 !important;
  }
}

.glassBG {
  background: rgba(255, 255, 255, 0.16);
  border: 1px solid rgba(255, 255, 255, 0.35);
  border-radius: 24px;
  box-shadow:
    0 8px 32px rgba(31, 38, 135, 0.12),
    inset 0 1px 0 rgba(255, 255, 255, 0.45);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
}
