.banner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 480px;
  margin: 20px auto 0;
  @media (max-width: 768px) {
    width: 92%;
  }
}

.aside,
.main {
  position: relative;
  z-index: 5;
  width: 48%;
  max-width: 550px;
  padding: 18px 24px;
  text-align: right;
}

.badge {
  display: inline-flex;
  align-items: center;
  text-align: center;
  padding: 3px 14px;
  margin-bottom: 20px;
  color: #f7763d;
  font-size: 13px;
  font-weight: 600;
  background: rgba(247, 118, 61, 0.1);
  border: 1px solid rgba(247, 118, 61, 0.2);
  border-radius: 30px;
}
.badge:nth-child(2) {
  margin: auto;
  margin: 0 auto;
}

.main h1 {
  margin: 0 0 20px;
  color: #3a2117;
  font-size: clamp(2rem, 4vw, 3.5rem);
  line-height: 1.5;
}

.main h1 span {
  display: block;
  font-weight: 500;
}

.main h1 strong {
  display: block;
  color: #f7763d;
  font-weight: 900;
}

.main p {
  max-width: 480px;
  margin-bottom: 25px;
  color: #76584b;
  font-size: 15px;
  line-height: 2;
}

.techLogo {
  position: absolute;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65px;
  height: 65px;
  padding: 12px;
  background: rgba(255, 255, 255, 0.45);
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  animation: floatingLogo 4s ease-in-out infinite;
}

.techLogo img {
  width: 100%;
  height: 100%;
  display: flex;
}

.react {
  top: 5%;
  right: 10%;
  animation-delay: 0s;
}

.javascript {
  top: 15%;
  left: 7%;
  animation-delay: 0.7s;
}

.tailwind {
  top: 50%;
  right: 10%;
  animation-delay: 1.4s;
}

.next {
  top: 8%;
  left: 50%;
  right: 50%;
  animation-delay: 2s;
}

.scss {
  top: 40%;
  left: 3%;
  animation-delay: 2.5s;
}

@keyframes floatingLogo {
  0%,
  100% {
    transform: translateY(0) rotate(0deg);
  }

  50% {
    transform: translateY(-12px) rotate(3deg);
  }
}

@media (max-width: 900px) {
  .banner {
    flex-direction: column;
    gap: 35px;
  }

  .aside,
  .main {
    width: 100%;
    max-width: 600px;
  }

  .techLogo {
    width: 52px;
    height: 52px;
  }

  .react {
    right: 5%;
  }

  .javascript {
    left: 5%;
  }
}

@media (max-width: 600px) {
  .banner {
    min-height: 700px;
  }

  .main h1 {
    font-size: 2rem;
  }

  .techLogo {
    width: 45px;
    height: 45px;
    padding: 8px;
    border-radius: 14px;
  }

  .html {
    top: 48%;
  }
}

.dot {
  width: 12px;
  height: 12px;
  background: #f7763d;
  border-radius: 50%;
  margin-left: 20px;
  position: relative;
}

.dot::before,
.dot::after {
  content: "";
  position: absolute;
  inset: -8px;
  border: 1px solid currentColor;
  border-radius: 50%;
  animation: pulse 2s infinite;
}

.dot::after {
  animation-delay: 1s;
}

@keyframes pulse {
  0% {
    transform: scale(0.5);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}